/* Remove excessive bottom margins for all slides */
.reveal .slides {
    margin-bottom: 0 !important;
}

/* Adjust top-level slide title size (#) */
.reveal h1 {
    font-size: 1.5em !important;  
}

/* Adjust second-level slide title size (##) */
.reveal h2 {
    font-size: 1.2em !important;  
}

/* Adjust third-level headings if needed (###) */
h3 {
    font-size: .7em;  /* Adjust as needed */
}
/* Scale only the code output from executed chunks */

.reveal code {
    max-height: 100% !important;  /* Ensure code block uses all available space */
    overflow: auto;               /* Allow scrolling if absolutely necessary */
    font-size: 0.8em !important;   /* Adjust the scale of the code */
}

.math {
  font-size: 0.8em !important; /* Adjust the font size */
  line-height: 1.5 !important; /* Increase vertical spacing */
  margin-right: 0.5em;         /* Space to the right of the math element */
  margin-left: 0.5em;          /* Space to the left of the math element */
}

.remark-slide-content {
    font-size: 14px;
    line-height: 1.6;
}
.reveal .slide-logo {
             max-height: unset !important;
             height: 100px !important;
}

.reveal p {
  font-size: .85em; /* Adjust paragraph size */
}

.reveal li {
  font-size: 0.9em;
}

.reveal h2 .larger-code code{
  font-size: 10em; /* Adjust the size as needed */
}

.reveal section div.center-h {
	text-align: center;
}