body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  max-width: 910px;
  color: #333;
  margin: auto;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h1.title {
  font-size: 38px;
}
h1 {
  font-size: 34px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}
code {
  white-space: pre;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
}
code, kbd, pre, samp {
  font-family: monospace;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}
